body{
  font-family: 'Roboto', sans-serif;
  color: #000000 !important;
  background-color: #FFFFFF;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

li{
  padding: 10px;
}


/*
Body
*/
.no-display{
  animation: fadein 0.9s;
  -moz-animation: fadein 0.9s;
  -webkit-animation: fadein 0.9s;
  -ms-animation: fadein 0.9s;
  -o-animation: fadein 0.9s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}



.content-box{
  padding-top: 60px;
  padding-bottom: 10px;
}


/*
Text color attributes
*/
.highlight{
  color: #CDDC39 !important
}

.active{
  color:  #CDDC39 !important;
}


/*
Index
*/
.introduction {
  padding-top: 20px;
}

.personal-photo{
  width: 90%;
  height: 90%;
}


/*
Navbar and footer
*/
.logo{
  color:  #CDDC39;
}

.navbar-toggler-icon{
  border-color: black !important;
}

.footer{
  font-size: 10px;
  padding-top: 40px;
}

.nav-item{
  padding-bottom: 0px;
  padding-top: 0px;
}

.nav-link{
  color: #000000;
  transition: color 0.4s ease;
}

.nav-link:hover{
  color:  #CDDC39;
}

.navbar-brand{
  color: #000000;
}

.navbar-brand:hover{
  color: #000000;
}


/*
Zoom effect
*/
.zoom{
  transition: transform .4s ease;
}

.zoom:hover{
  transform: scale(1.05);
}


/*
Blog-index
*/
.index-entry{
  padding: 20px;
  color: #000000;
  transition: color .4s ease;
}

.index-entry:hover{
  color:  #CDDC39;
  text-decoration: none;
}

.blog{
  padding-top: 10px;
  text-align: justify;
}


/*
Resume
*/
.cv-entry{
  padding-top: 20px;
  padding-bottom: 20px;
}
