body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2 !important;
    width: auto;
}

a {
    text-decoration: none !important;
}

/*
Text color attributes
*/
.main-color {
    color: #CDDC39;
}

.secondary-color {
    color: #efb632;
}

.alt-color {
    color: white;
}

.dark-color {
    color: black;
}

/*
Index
*/
.introduction {
    color: white;
    background-color: #333131;
}

.interests {
    color: black;
    background-color: #ff8a80;
}

.personal-photo {
    max-width: 100%;
    height: auto;
}

.education {
    background-color: #efb632;
}

.skills {
    background-color: #69f0ae;
}

.tech {
    background-color: #212121;
}

.devicon {
    font-size: 7rem;
    color: white;
}

@media only screen and (min-height: 768px) and (min-width: 734px) {
    #introduction, #education, #skill, #tech {
        height: 75vh;
    }
}

.row {
    margin-right: 0;
}
