---
layout: default
keywords: resume,cv,curriculum,vitae,adrian,lorenzo,dev,adrianlorenzodev,hardware,software,apps,development,github
title: Adrián Lorenzo - Resume
description: Adrián Lorenzo Resume
---

<div class="cv-entry">
    <h5>Adrián Lorenzo Melián</h5>
    <h6>Developer and Tech Enthusiast</h6>
    <p>
        Montaña la Arena St, 27, 35128 Maspalomas,
        Las Palmas de Gran Canaria (Spain)
    </p>
</div>

<hr>

<div id="education" class="cv-entry">
    <h5 class="">Education</h5>
    {% for edu in site.data.education %}
    <div class="row">
        <div class="col-sm-9">
            <div>
                <h6>{{ edu.name }}</h6>
                <p><a href="{{ edu.school-link }}">{{ edu.school }}</a></p>
                <small>{{ edu.location }}</small>
            </div>
        </div>
        <div class="col-sm-3">
            <p>{{ edu.period }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<hr>
<div class="cv-entry">
    <h5>Skills</h5>
    <p><strong>Experience in:</strong></p>
    <ul>
    {% for skill in site.data.skills %}
    <li>{{ skill.description }}</li>
    {% endfor %}
    </ul>
</div>

<hr>

<div class="cv-entry">
    <h5>Programming languages:</h5>
    <p>Java, C, Python, Go, C++, R, SQL and more!</p>
</div>

<hr>

<div class="cv-entry">
    <h5>Other technologies/software:</h5>
    <p>Numpy/Panda, Kubernetes, Docker, Android SDK, Octave/Matlab...</p>
</div>

<hr>

<div class="cv-entry">
    <h5>Languages:</h5>
    <ul>
        <li>Spanish as mother tongue</li>
        <li>English - First Certificate in English (FCE)</li>
    </ul>
</div>

<hr>

<div class="cv-entry">
    <h5>Driver License:</h5>
    <p>B</p>
</div>