---
layout: default
title: Adrián Lorenzo - Resume
---

<div id="content" class="summary container">
    <div class="row">
        <div class="col-sm-3">
            <img src="res/img/photo.jpeg" class="rounded img-thumbnail zoom"></img>
        </div>
        <div class="col-sm-9">
            <h2>Adrián Lorenzo Melián</h2>
            <h5>Developer and Tech Enthusiast</h5>  
            <p>
                Montaña la Arena St, 27, 35128 Maspalomas, 
                Las Palmas de Gran Canaria (Spain)
            </p>
            
            <p><a href="mailto:adrianlorenzomelian@gmail.com">adrianlorenzomelian@gmail.com</a></p>
        </div>
    </div>

    <hr class="hr-cv">

    <div id="education" class="cv-entry container">
        <h2 class="text-center">EDUCATION</h2>
        {% for edu in site.data.education %}
        <div class ="row">
            <div class="col-sm-9">
                <div>
                    <h4>{{ edu.name }}</h4>
                    <p><a href="{{ edu.school-link }}">{{ edu.school }}</a></p>
                    <small>{{ edu.location }}</small>
                </div>
            </div>
            <div class="col-sm-3">
                <p>{{ edu.period }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr class="hr-cv">

    <div id="skills" class="cv-entry">
        <h2 class="text-center" style="padding-bottom:20px">SKILLS</h2>
        
        <div class="skill-entry">
            <h4>Experience in:</h4>
            <ul>
                {% for skill in site.data.skills %}
                    <li>- {{ skill.description }}</li>
                {% endfor %}
            </ul>
        </div>
        
        <hr>

        <div class="skill-entry">
            <h4>Programming languages:</h4>
            <p>C, Go, Java, Python, Ruby, SQL, R, C++, Ada, HTML, XML, CSS, Javascript</p>
        </div>

        <hr>

        <div class="skill-entry">
            <h4>Languages:</h4>
            <ul>
                <li>- Spanish as mother tongue</li>
                <li>- English - First Certificate in English (FCE)</li>
            </ul>
        </div>

        <hr>

        <div class="skill-entry">
            <h5>Driver License:</h5>
            <ul>
                <li>- B</li>
            </ul>
        </div>



    </div>


    </div>
</div>
