<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title> {{page.title}} </title>
        <link href="{{site.baseurl}}/res/img/favicon.ico" rel="icon" type="image/x-icon" />


        <!-- JQuery, Stylesheets, Popper, Bootstrap-->
        <script src="{{"/res/js/jquery.min.js" | prepend: site.baseurl}}"></script>
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/res/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="{{"/res/js/popper.min.js" | prepend: site.baseurl}}"></script>
        <script src="{{"/res/js/bootstrap.min.js" | prepend: site.baseurl}}"></script>
        <script src="{{"/res/js/addons.js" | prepend: site.baseurl}}"></script>
        <link rel="stylesheet" href="{{site.baseurl}}/res/css/bootstrap.min.css">
        
</head>